nav {
  background-color: crimson;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;


  .nav-wrapper {
    display: contents;
    list-style :none;

    li{
      margin: 0 10rem;

      a{
        color: yellow;
        display: flex;
        justify-content: center;
      }
    }

  }
}